body {
    background-image: url(../Pagina2-1/Imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#colunaverde {
    position: absolute;
    width: 428px;
    height: 89px;
    left: 0px;
    top: 220px;

background: rgba(36, 66, 18, 0.6);
}